body {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #fcbcb2;
  padding-bottom: 15px;
  font: SF-UI-Display-Regular1;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 200px;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav {
  background-color: white;
  width: auto;
  height: auto;
}

.navbar-brand #logo {
  height: auto;
  max-height: 60px;
}

.navbar-brand {
  color: #9e73a1;
}

.nav-link {
  color: #fcbcb2;
  font-size: 22px;
  margin: auto;
}

.nav-link:hover {
  color: #dda4ad;
}

.nav-link:hover::after {
  color: #dda4ad;
}

.navbar-brand:hover {
  color: #9e73a1;
}

#about .block {
  position: relative;
  background-color: #fcbcb2;
  border-width: 10px;
  border-color: black;
  height: auto;
  width: auto;
  margin: auto;
  padding: 100px;
  max-height: 500px;
  max-width: 500px;
  display: flex;
  align-self: auto;
}

#aboutBlock {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 220px;
  max-width: 300px;
  max-height: 300px;
}

#aboutImage {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* #cv .card {
  position: absolute;
  z-index: 1;
  top: 530px;
  left: 200px;
}

#languages .lanlist {
  max-height: 120px;
  max-width: 200px;
}

#languages li {
  display: inline-block;
  /* list-style-type: square; */
/* padding-right: 12px;
} */
