@font-face {
  font-family: "sf_ui_displayregular";
  src: url("sf-ui-display-regular1-webfont.woff2") format("woff2"),
    url("sf-ui-display-regular1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #ffcccc;
  padding-bottom: 15px;
  font-family: "sf_ui_displayregular";
  font-size: 28px;
}

html,
body {
  height: 100%;
}

/* .img-responsive {
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 200px;
} */

section {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav {
  background-color: white;
  width: auto;
  height: auto;
}

.navbar-brand #logo {
  height: auto;
  max-height: 60px;
}

.navbar-brand {
  color: #9e73a1;
}

.nav-link {
  color: #ffcccc;
  font-size: 24px;
  text-align: right;
}

.nav-link:hover {
  color: #dda4ad;
}

.nav-link:hover::after {
  color: #dda4ad;
}

.navbar-brand:hover {
  color: #9e73a1;
}

.dropdown-menu {
  min-width: 60px !important;
}
#about .block {
  position: relative;
  background-color: #ffcccc;
  height: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 100px;
  max-height: 500px;
  max-width: 500px;
  align-self: auto;
  top: 80px;
}

#aboutBlock {
  position: absolute;
  /* z-index: 1; */
  top: 250px;
  left: 220px;
  max-width: 300px;
  max-height: 300px;
  border-style: solid;
}

#aboutImage {
  position: absolute;
  top: 20px;
  left: 20px;
  border-style: solid;
}

.footer-basic {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 120px;
  padding: 15px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  opacity: 75%;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

#block #me {
  display: block;
}

#me {
  position: relative;
  background-color: #ffcccc;
  color: white;
  font-weight: 600;
  height: auto;
  width: auto;
  margin: auto;
  max-height: 500px;
  max-width: 500px;
  padding-bottom: 200px;
  top: 480px;
  text-align: center;
}

#projects {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #ffcccc;
  top: 620px;
  left: 100px;
  padding-bottom: 500px;
}

/* split */

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: solid white;
  perspective: 1000px;
  display: inline-block;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #ffe6e2;
  color: #714288;
}

.flip-box-back {
  background-color: #9873b9;
  color: white;
  transform: rotateY(180deg);
}
